{% extends "layout.html" %}
{% block body %}

<table>
  <tr>
    <th>Datetime (UTC)</th>
    <th>Pressure (hPa)</th>
    <th>Humidity (%)</th>
    <th>Temperature (BMP180) (K)</th>
    <th>Temperature (DHT22) (K)</th>
  </tr>
  <tr>
    {% for it in measures %}
    <td>
      {{ it }}
    </td>
    {% endfor %}
  </tr>
</table>
<table>
  <tr>
    <th>Temperature</th>
    <th>Humidity</th>
    <th>Pressure</th>
  </tr>
  <tr id="graphs">
    <td><img src="{{ url_for('static', filename='temp.png') }}"> </img></td>
    <td><img src="{{ url_for('static', filename='hum.png') }}"> </img></td>
    <td><img src="{{ url_for('static', filename='pressure.png') }}"> </img></td>
  </tr>
</table>

{% endblock %}
